.dashboard-container {
    background-color: whitesmoke;
}

.dashboard {
    background-color: white;
    height: 100vh;
    overflow-y: scroll;
    margin: 20px 20px 20px 20px;
    color: black;
    padding: 20px;
}

.dashboard-content {
    display: grid;
    grid-template-rows: 10% 80% 10%;
    /* overflow-y: scroll; */
    height: 85vh;
    color: black;
    padding: 20px;
    background-color: white;

}

.dashboard-content p {
    background-color: none;
    color: black
}

.dashboard-counts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    text-align: center;
}

.admin-dashboard-counts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    text-align: center;
}

.report h4 {
    color: rgb(132, 132, 132);
    text-align: center;
}

.dashboard-count1,
.dashboard-count2,
.dashboard-count3,
.dashboard-count4,
.dashboard-count5 {
    margin: 20px;
    background-color: rgb(235, 233, 255);
    height: 100px;
    width: 60%;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    box-shadow: 5px 5px 10px whitesmoke;
}

.dashboard-count1 h3,
.dashboard-count2 h3,
.dashboard-count3 h3,
.dashboard-count4 h3,
.dashboard-count5 h3 {
    margin: 15px;
}

.super-admin-login {
    margin: 5% 30%;
    width: 50%;
    height: 50vh;
    text-align: center;
    vertical-align: middle;
    border-style: solid;
    border-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 3px whitesmoke;
}

.super-admin-login h4 {
    margin: 5% 20%;
    padding: 1% 0%;
    border-radius: 5px;
    background-color: rgb(235, 233, 255);
}

.super-admin-login input[type="text" i],
input[type="password" i] {
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    width: 100%;
    height: 30px;
    padding-left: 10px;
    outline: none;
}

.super-admin-login form {
    margin: 5% 15%;
    line-height: 20px;
}

.super-admin-login label {
    color: rgb(136, 136, 136);
    font-size: 14px;
}

.super-admin-login input[type="submit" i] {
    color: white;
    background: linear-gradient(90deg, hsla(246, 100%, 73%, 1) 41%, hsla(246, 100%, 83%, 1) 100%);
    width: 150px;
    margin-right: 10px;
    height: 25px;
    outline: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.super-admin-login input[type="submit" i]:hover {
    box-shadow: 3px 3px 6px rgb(215, 212, 255);
}

.super-admin-login input[type="reset" i] {
    color: rgb(255, 255, 255);
    background-color: white;
    width: 150px;
    margin-right: 10px;
    height: 25px;
    outline: none;
    border: solid;
    border-width: 1px;
    border-color: rgb(114, 98, 255);
    border-radius: 3px;
    cursor: pointer;
}

.super-admin-login input[type="reset" i]:hover {
    box-shadow: 3px 3px 6px rgb(215, 212, 255);
}

.user_list th {
    font-size: 13px;
    height: 10px;
}

.user_list td {
    padding: 1px 7px;
    font-size: 14px;
}

.user_list td a {
    display: block;
    width: 100%;
    height: 100%;
    color: black;
    font-size: 14px;
}

.user_list input[type="submit" i] {
    margin: 5px 2px;
    height: 27px;
}

.restricted-access {
    margin: 10% 30%;
    text-align: center;
    color: grey;
}

.admin_page_numbers {
    display: flex;
    justify-content: center;
}

.admin_page_numbers button {
    margin: 20px 20px 0px 0px;
    width: 25px;
    height: 25px;
    background: linear-gradient(90deg, hsla(246, 100%, 73%, 1) 61%, hsla(246, 100%, 83%, 1) 100%);
    border: none;
    border-radius: 3px;
}

.admin_page_numbers a {
    color: white;
    padding: 5px 5px;
}

.admin-alert-message {
    background-color: rgb(235, 233, 255);
    color: grey;
    width: 400px;
    text-align: center;
    margin: 10% 27%;
    height: 70px;
    border-radius: 4px;
}

.admin-alert-message p {
    padding: 25px 10px;
    color: linear-gradient(90deg, hsla(246, 100%, 73%, 1) 61%, hsla(246, 100%, 83%, 1) 100%);
}

.status-dropdown {
    width: 58%;
    height: 30px;
    padding: 5px;
    border-color: grey;
    border-radius: 3px;
    border-width: 1px;
}

select {
    height: 30px;
    padding: 5px;
    border-color: grey;
    border-radius: 3px;
    border-width: 1px;
}

select option {
    height: 30px;
    background-color: white;
}

.complaint-view-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 3% 0%;
}

.complaint-textbox input[type='text' i] {
    width: 55%;
    padding: 5px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-width: 1px;
    outline: none;
}

.complaint-view-form label,
.query label,
.admin-comments label {
    background-color: rgb(235, 233, 255);
    color: rgb(87, 87, 87);
    border-radius: 5px;
    font-size: 13px;
    padding: 8px;
    width: 100px;
}

.query textarea {
    width: 96%;
    margin-top: 8px;
    height: 50px;
    resize: none;
    border: none;
    outline: none;
}


.query td {
    text-align: justify;
    height: 50px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: whitesmoke;
    box-shadow: 3px 3px 6px rgb(199, 199, 199);
}

.query th {
    width: 50%;
    background: hsla(246, 100%, 73%, 1);
    box-shadow: 3px 3px 6px rgb(215, 212, 255);
    color: white;
    height: 20px;
    font-size: 14px;
}

.admin-comments textarea {
    resize: none;
    width: 98%;
    height: 30px;
}

input[type="checkbox"][readonly] {
    pointer-events: none;
}

.sub-active {
    color: rgb(114, 98, 255);
    text-align: left;
    padding: 7px;
    background-color: rgb(235, 233, 255);
    border-radius: 3px;
    /* box-shadow: 3px 3px 6px rgb(215, 212, 255); */
}

.back-btn button {
    width: 90px;
    height: 30px;
    background: linear-gradient(90deg, hsla(246, 100%, 73%, 1) 61%, hsla(246, 100%, 83%, 1) 100%);
    /* background-color: rgb(233, 255, 233); */
    border: none;
    border-radius: 4px;
}

.back-btn a {
    color: white;
    display: block;
    width: 100%;
    padding: 7px 0px;
}

.active-btn {
    color: rgb(114, 98, 255);
    background-color: white;
}